.breadcrumbs_page .container {
  max-width: 1140px;
}
@media screen and (max-width: 1180px) {
  .breadcrumbs_page .container {
    padding: 0 20px;
  }
}

.store_banner {
  margin-top: 30px;
}
@media screen and (max-width: 1180px) {
  .store_banner {
    margin-top: 20px;
  }
}
.store_banner .container {
  max-width: 1140px;
  width: 100%;
}
@media screen and (max-width: 1180px) {
  .store_banner .container {
    padding: 0 20px;
  }
}
.store_banner .container .content {
  padding: 12px 60px;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1019607843);
  border: 2px solid #102b2c;
  border-radius: 10px;
  gap: 20px;
}
@media screen and (max-width: 1180px) {
  .store_banner .container .content {
    padding: 24px 20px;
  }
}
@media screen and (max-width: 768px) {
  .store_banner .container .content {
    flex-direction: column-reverse;
  }
}
.store_banner .container .content .left_side h2 {
  font-family: Dela Gothic One;
  font-size: 40px;
  font-weight: 400;
  line-height: 56px;
  text-align: left;
  color: #102b2c;
  max-width: 624px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
@media screen and (max-width: 1180px) {
  .store_banner .container .content .left_side h2 {
    font-size: 22px;
    line-height: 30.8px;
  }
}
.store_banner .container .content .left_side p {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  text-align: left;
  color: #102b2c;
}
@media screen and (max-width: 1180px) {
  .store_banner .container .content .left_side p {
    font-size: 16px;
    line-height: 24px;
  }
}
.shop_category {
  margin-top: 50px;
}
.shop_category .container {
  max-width: 1140px;
}
@media screen and (max-width: 1180px) {
  .shop_category .container {
    padding: 0 20px;
  }
}
.shop_category .container h1 {
  font-family: Dela Gothic One;
  font-size: 36px;
  font-weight: 400;
  line-height: 50.4px;
  text-align: center;
  color: #102b2c;
  margin: 0 auto;
  text-transform: uppercase;
  margin-bottom: 34px;
}
@media screen and (max-width: 768px) {
  .shop_category .container h1 {
    font-size: 24px;
    line-height: 33.6px;
    text-align: center;
    margin-bottom: 24px;
  }
}
.shop_category .container .category_list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
@media screen and (max-width: 1180px) {
  .shop_category .container .category_list {
    flex-wrap: wrap;
    gap: 14px;
  }
}
.shop_category .container .category_list .red_button {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  max-width: 100%;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .shop_category .container .category_list .red_button {
    font-size: 14px;
    line-height: 20.27px;
    height: 50px;
    padding: 14px 0;
  }
}
.shop_category .container .category_list .red_button:hover::after {
  background-image: url("/assets/images/linkIconRed.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.shop_category .container .category_list .red_button::after {
  position: relative;
  content: " ";
  display: block;
  background-image: url("/assets/images/linkIcon.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 8px;
  height: 14px;
  margin-left: 16px;
}

.filter_section .store_filter {
  margin-top: 100px;
}
@media screen and (max-width: 768px) {
  .filter_section .store_filter {
    margin-top: 50px;
  }
}
.filter_section .store_filter .container {
  max-width: 1140px;
  width: 100%;
}
.filter_section .store_filter .container .wrapper {
  position: relative;
  display: none;
}
@media screen and (max-width: 768px) {
  .filter_section .store_filter .container .wrapper {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    color: #000;
    text-transform: uppercase;
    background: rgba(0, 194, 203, 0.2);
    padding: 14px 26px 14px 60px;
    border-radius: 10px;
  }
  .filter_section .store_filter .container .wrapper::before {
    content: " ";
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(0, -50%);
    width: 18px;
    height: 18px;
    background-image: url("/assets/images/filter_icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .filter_section .store_filter .container .wrapper::after {
    content: " ";
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translate(0, -50%);
    background-image: url("/assets/images/arrow_bottom_filter.svg");
    background-repeat: no-repeat;
    width: 11px;
    height: 6px;
  }
}
.filter_section .store_filter .container .content {
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease-in;
}
@media screen and (max-width: 768px) {
  .filter_section .store_filter .container .content {
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
  }
}
.filter_section .store_filter .container .content .left_side {
  display: flex;
  gap: 14px;
}
@media screen and (max-width: 768px) {
  .filter_section .store_filter .container .content .left_side {
    flex-direction: column;
    align-items: flex-start;
  }
}
.filter_section .store_filter .container .content .left_side .filter {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 36px;
  transition: all 0.4s ease-in-out;
}
.filter_section .store_filter .container .content .left_side .filter > span {
  position: relative;
  font-family: Roboto Flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: #000;
  text-transform: uppercase;
  padding: 6px 32px 6px 14px;
  border-radius: 10px;
  background-position: 84%;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.filter_section .store_filter .container .content .left_side .filter > span::after {
  content: " ";
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translate(0, -50%);
  background-image: url("/assets/images/arrow_bottom_filter.svg");
  background-repeat: no-repeat;
  width: 11px;
  height: 6px;
}
.filter_section .store_filter .container .content .left_side .filter > span:hover {
  background-color: rgba(0, 194, 203, 0.2);
}
.filter_section .store_filter .container .content .left_side .filter > span:hover::after {
  top: 50%;
  transform: translate(0, -40%) rotate(180deg);
}
@media screen and (max-width: 768px) {
  .filter_section .store_filter .container .content .left_side .filter > span {
    background-image: none;
  }
}
.filter_section .store_filter .container .content .left_side .filter:hover > ul {
  max-height: 400px;
  padding: 24px;
}
.filter_section .store_filter .container .content .left_side .filter > ul {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 48px;
  grid-row-gap: 0px;
  padding: 24px;
  background: #fff;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 10px;
  top: 36px;
  z-index: 99;
  transition: all 0.4s ease-in-out;
  max-height: 0;
  padding: 0;
  overflow: hidden;
}
.filter_section .store_filter .container .content .left_side .filter > ul li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.filter_section .store_filter .container .content .left_side .filter > ul li input {
  width: 16px;
  height: 16px;
  margin-top: 0;
  margin-right: 10px;
}
.filter_section .store_filter .container .content .left_side .filter > ul li label {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
}
.filter_section .store_filter .container .content .right_side {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .filter_section .store_filter .container .content .right_side {
    flex-direction: column;
    align-items: flex-start;
  }
}
.filter_section .store_filter .container .content .right_side > select {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: right;
  color: #000;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: center;
  padding-right: 24px;
}
.filter_section .store_filter .container .content .right_side .total {
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  text-align: right;
  color: #000;
  margin-left: 36px;
}
.filter_section .store_filter.open .wrapper {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1019607843);
}
.filter_section .store_filter.open .wrapper::after {
  transform: rotate(180deg);
}
.filter_section .store_filter.open .content {
  display: block;
  background: rgba(0, 194, 203, 0.2);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  max-height: 1200px;
}
.filter_section .store_filter.open .content > .left_side {
  padding-top: 20px;
  padding-bottom: 20px;
}
.filter_section .store_filter.open .content > .left_side .filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.filter_section .store_filter.open .content > .left_side .filter > span {
  width: 100%;
  padding-bottom: 20px;
}
.filter_section .store_filter.open .content > .left_side .filter > span:hover {
  background-color: transparent;
}
.filter_section .store_filter.open .content > .left_side .filter ul {
  position: relative;
  top: auto;
  max-height: 1000px;
  padding: 0 14px;
  background: none;
  box-shadow: none;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  width: 100%;
}
.filter_section .store_filter.open .content > .left_side .filter ul:hover {
  display: flex;
  max-height: 1000px;
  padding: 0 14px !important;
}
.filter_section .store_filter.open .content .right_side select {
  display: none;
}
.filter_section .store_filter.open .content .right_side .total {
  display: none;
}

.products {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
@media screen and (max-width: 768px) {
  .products {
    margin-top: 20px;
  }
}
.products .container {
  max-width: 1140px;
}
@media screen and (max-width: 1180px) {
  .products .container {
    padding: 0 20px;
  }
}
.products .container .products_list {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 268px));
  grid-template-rows: repeat(2, 380px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 24px;
}
@media screen and (max-width: 960px) {
  .products .container .products_list {
    grid-template-columns: repeat(3, minmax(200px, 268px));
  }
}
@media screen and (max-width: 768px) {
  .products .container .products_list {
    grid-template-columns: repeat(2, minmax(160px, 268px));
    grid-template-rows: repeat(2, 330px);
    gap: 15px;
    justify-content: space-around;
  }
}
@media screen and (max-width: 480px) {
  .products .container .products_list {
    grid-template-rows: repeat(2, 330px);
  }
}
.products .container .products_list > li {
  position: relative;
  border: 2px solid #102b2c;
  border-radius: 10px;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1019607843);
  background: #fff;
  padding: 24px 24px 18px;
  transition: border-color 0.3s ease-in-out;
}
.products .container .products_list > li:hover {
  border-color: #b12025;
}
.products .container .products_list > li:hover .product_image {
  top: -6px;
}
@media screen and (max-width: 768px) {
  .products .container .products_list > li {
    padding: 20px 20px;
  }
}
.products .container .products_list > li.banner {
  grid-area: 1/1/3/2;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #102b2c;
  border-radius: 10px;
  max-width: 558px;
  max-height: 784px;
  width: 100%;
  overflow: hidden;
  box-shadow: none;
  padding: 0;
}
.products .container .products_list > li.banner > img {
  max-width: -moz-max-content;
  max-width: max-content;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media screen and (max-width: 768px) {
  .products .container .products_list > li.banner {
    grid-area: 1/1/3/3;
  }
  .products .container .products_list > li.banner img {
    max-width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .products .container .products_list > li.banner {
    max-height: 470px;
    grid-area: 1/1/2/3;
  }
  .products .container .products_list > li.banner img {
    max-width: 100%;
  }
}
.products .container .products_list > li .product_image {
  position: relative;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  top: 0;
}
@media screen and (max-width: 768px) {
  .products .container .products_list > li .product_image {
    height: 172px;
  }
}
.products .container .products_list > li .product_image img {
  height: 200px;
}
@media screen and (max-width: 768px) {
  .products .container .products_list > li .product_image img {
    height: 172px;
  }
}
.products .container .products_list > li .product_image::after {
  content: " ";
  position: absolute;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  right: 0;
}
.products .container .products_list > li .product_description {
  gap: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .products .container .products_list > li .product_description {
    gap: 6px;
  }
}
.products .container .products_list > li .product_description .title {
  font-size: 14px;
  font-weight: 900;
  line-height: 21px;
  text-align: left;
  color: #102b2c;
  padding-top: 14px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .products .container .products_list > li .product_description .title {
    padding-top: 6px;
    font-size: 12px;
  }
}
.products .container .products_list > li .product_description .price {
  font-size: 22px;
  font-weight: 700;
  line-height: 35.2px;
  text-align: left;
  color: #102b2c;
}
@media screen and (max-width: 768px) {
  .products .container .products_list > li .product_description .price {
    font-size: 18px;
    line-height: 18px;
  }
}
.products .container .products_list > li .product_description .color_list {
  display: flex;
  align-items: center;
  gap: 2px;
}
.products .container .products_list > li .product_description .color_list > li {
  border: 2px solid #fff;
  padding: 2px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.products .container .products_list > li .product_description .color_list > li.active {
  border: 2px solid #00c2cb;
  padding: 2px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.products .container .products_list > li .product_description .color_list > li button {
  border-radius: 100%;
  width: 14px;
  height: 14px;
}
.products .container .products_list > li:hover .title {
  color: #b12025;
}
.products .container .products_list > li .new {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px;
  height: 34px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 5px;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .products .container .products_list > li .new {
    width: 58px;
    height: 30px;
    border-width: 2px;
  }
}
.products .container .pagination {
  margin-top: 50px;
  margin-bottom: 120px;
}
@media screen and (max-width: 768px) {
  .products .container .pagination {
    margin-top: 24px;
    margin-bottom: 50px;
  }
}
.products .container .pagination .pagination_list {
  display: flex;
  justify-content: center;
  gap: 14px;
}
@media screen and (max-width: 768px) {
  .products .container .pagination .pagination_list {
    gap: 8px;
  }
}
.products .container .pagination .pagination_list .skip {
  display: flex;
  align-items: flex-end;
  border: none;
  background: none;
  box-shadow: none;
  letter-spacing: 2px;
  width: auto;
  font-size: 24px;
  font-weight: 900;
  color: #102b2c;
}
.products .container .pagination .pagination_list > a {
  font-size: 18px;
  font-weight: 900;
  line-height: 27px;
  text-align: center;
  color: #102b2c;
  background: #ffffff;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1019607843);
  border: 2px solid #102b2c;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 768px) {
  .products .container .pagination .pagination_list > a {
    width: 44px;
    height: 44px;
  }
}
.products .container .pagination .pagination_list > a.current {
  background: #00c2cb;
  color: #fff;
}
.products .container .pagination .pagination_list > a.prev_button {
  background-image: url("/assets/images/pagination_prev_button.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.products .container .pagination .pagination_list > a.next_button {
  background-image: url("/assets/images/pagination_next_button.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.products .container .pagination .pagination_list > a:hover {
  background-color: rgba(0, 194, 203, 0.4);
}/*# sourceMappingURL=style.css.map */