.quickorder_title {
  margin-top: 22px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1024px) {
  .quickorder_title {
    margin-bottom: 20px;
    margin-top: 24px;
  }
}
.quickorder_title .container {
  max-width: 1140px;
}
@media screen and (max-width: 1024px) {
  .quickorder_title .container {
    padding: 0 0;
  }
}
@media screen and (max-width: 768px) {
  .quickorder_title .container {
    padding: 0 20px;
  }
}
@media screen and (max-width: 1140px) {
  .quickorder_title .container .content {
    flex-direction: column;
  }
}
.quickorder_title .container .content .left_side {
  background: #f5f5f5;
  padding: 22px 40px;
  margin-bottom: 20px;
  border-radius: 10px;
}
@media screen and (max-width: 1140px) {
  .quickorder_title .container .content .left_side {
    padding: 18px 20px;
    margin-bottom: 24px;
  }
}
.quickorder_title .container .content .left_side h1 {
  color: #102b2c;
  font-family: Dela Gothic One;
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: left;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .quickorder_title .container .content .left_side h1 {
    font-size: 20px;
    line-height: 28px;
  }
}
.quickorder_title .container .content .right_side {
  padding: 0;
}

.sort_line {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 24px;
}
@media screen and (max-width: 1180px) {
  .sort_line {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .sort_line {
    padding: 0 20px;
  }
}
.sort_line select {
  border: 2px solid #102b2c;
  border-radius: 10px;
  padding: 13px 76px 14px 20px;
  background-position: 90%;
}
@media screen and (max-width: 1180px) {
  .sort_line select {
    width: 100%;
  }
  .sort_line select:first-child {
    margin-bottom: 12px;
  }
}
.sort_line select:first-child {
  margin-right: 20px;
}

.order_list {
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .order_list {
    padding: 0 20px 50px;
  }
}
.order_list ul li {
  display: grid;
  grid-template-columns: 13.7% 21.9% 27.6% 23% 13.9%;
  grid-template-rows: 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 0px;
  background: #f5f5f5;
  padding: 18px 24px 20px;
  color: #000000;
  margin-bottom: 4px;
  border-radius: 10px;
  width: 100%;
  align-items: center;
}
@media screen and (max-width: 1180px) {
  .order_list ul li {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .order_list ul li {
    margin-bottom: 14px;
  }
}
.order_list ul li > div {
  font-size: 14px;
  text-align: left;
}
@media screen and (max-width: 1180px) {
  .order_list ul li > div {
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
  }
}
.order_list ul li > div > span {
  display: none;
  font-family: Roboto Flex;
  font-size: 14px;
  font-weight: 700;
  line-height: 18.2px;
  text-align: left;
}
@media screen and (max-width: 1180px) {
  .order_list ul li > div > span {
    display: flex;
  }
}
.order_list ul li > div.number {
  font-weight: 700;
}
.order_list ul li > div.status {
  color: #00c2cb;
  font-weight: 700;
}
.order_list ul li > div.status > span {
  color: #000;
}
.order_list ul li > div.link .view {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 11px 50px 11px 22px;
  background: url("/assets/images/eye_view.svg");
  background-repeat: no-repeat;
  background-position: 90%;
  max-width: 104px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 18.2px;
  text-align: left;
  height: 40px;
}
@media screen and (max-width: 1180px) {
  .order_list ul li > div.link .view {
    max-width: 104px;
  }
}
.order_list ul li.title {
  background: #e3e3e3;
  border-radius: 10px;
  margin-bottom: 6px;
}
@media screen and (max-width: 1180px) {
  .order_list ul li.title {
    display: none;
  }
}
.order_list ul li.title > div {
  font-family: Dela Gothic One;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  text-align: left;
}
.order_list ul li.title > div.status {
  color: #000;
}/*# sourceMappingURL=style.css.map */