@import url("https://fonts.cdnfonts.com/css/themysion");
.top_section {
  height: 80vh;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .top_section {
    height: 100%;
  }
}
.top_section .top {
  position: relative;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
}
@media screen and (max-width: 1024px) {
  .top_section .top {
    flex-direction: column-reverse;
    padding-bottom: 50px;
  }
}
.top_section .top .left_side {
  padding-left: 50px;
  margin: 0 auto;
  width: 724px;
}
@media screen and (max-width: 1024px) {
  .top_section .top .left_side {
    width: auto;
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  .top_section .top .left_side {
    padding: 0 20px;
  }
}
.top_section .top .left_side h1 {
  width: 724px;
  font-size: 46px;
  font-weight: 400;
  line-height: 64.4px;
  text-align: left;
  color: #102b2c;
  font-family: "Dela Gothic One", sans-serif;
  text-transform: uppercase;
}
@media screen and (max-width: 1366px) {
  .top_section .top .left_side h1 {
    font-size: 30px;
    width: 480px;
    font-weight: 400;
    line-height: 38.4px;
    text-align: left;
    color: #102b2c;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 1024px) {
  .top_section .top .left_side h1 {
    padding: 0;
    width: 100%;
    text-align: center;
    max-width: 368px;
    margin: 0 auto;
  }
}
.top_section .top .left_side h1 .blue {
  font-family: "Dela Gothic One", sans-serif;
}
.top_section .top .left_side h1 .themysion {
  font-size: 70px;
  margin-left: 14px;
}
@media screen and (max-width: 1024px) {
  .top_section .top .left_side h1 .themysion {
    font-size: 70px;
    margin-left: 14px;
    display: block;
    margin: 36px auto 20px;
    width: 100%;
    text-align: center;
  }
}
.top_section .top .left_side p {
  color: #102b2c;
  font-size: 26px;
  font-weight: 400;
  line-height: 39px;
  text-align: left;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  .top_section .top .left_side p {
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .top_section .top .left_side p {
    font-size: 20px;
  }
}
.top_section .top .left_side .button_list {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 30px;
}
@media screen and (max-width: 1024px) {
  .top_section .top .left_side .button_list {
    display: block;
    gap: 14px;
  }
  .top_section .top .left_side .button_list > a {
    width: 100%;
    margin-bottom: 14px;
  }
}
.top_section .top .left_side .button_list .default_button {
  color: #102b2c;
}
.top_section .top .left_side .button_list .default_button:hover {
  background: #102b2c;
  color: #fff;
}
.top_section .top .left_side .button_list .red_button {
  color: #fff;
}
.top_section .top .left_side .button_list .red_button:hover {
  color: #b12025;
}
.top_section .top .right_side {
  position: relative;
  right: -36px;
  max-width: 756px;
  width: 100%;
  transform: translate(0, -10%);
}
@media screen and (max-width: 1366px) {
  .top_section .top .right_side {
    max-width: 664px;
  }
}
@media screen and (max-width: 1024px) {
  .top_section .top .right_side {
    right: 0;
    left: 0;
    transform: none;
    padding: 0 20px;
    width: 90%;
  }
}
.top_section .top .right_side::before {
  content: " ";
  position: absolute;
  bottom: 0;
  z-index: -1;
  height: 64%;
  width: 100%;
  background: #00c2cb;
  border-radius: 10px;
}
@media screen and (max-width: 1024px) {
  .top_section .top .right_side::before {
    width: 100%;
    left: 0;
    right: 0;
  }
}
.top_section .top .right_side img {
  width: 100%;
}

.our_categories .container {
  max-width: 1180px;
  padding: 0 20px 100px;
}
@media screen and (max-width: 768px) {
  .our_categories .container {
    padding: 0 20px 50px;
  }
}
.our_categories .container h4 {
  margin-bottom: 44px;
}
@media screen and (max-width: 768px) {
  .our_categories .container h4 {
    margin-bottom: 20px;
  }
}
.our_categories .container .list_category {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
@media screen and (max-width: 768px) {
  .our_categories .container .list_category {
    gap: 14px;
  }
}
.our_categories .container .list_category li {
  width: 266px;
  height: 320px;
  border-radius: 10px;
  border: 2px solid #102b2c;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1019607843);
}
@media screen and (max-width: 768px) {
  .our_categories .container .list_category li {
    width: 160px;
    height: 246px;
    padding: 20px;
  }
}
.our_categories .container .list_category li:hover button {
  background: none;
  color: #b12025;
}
.our_categories .container .list_category li:hover button::after {
  background: url("/assets/images/linkIconRed.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.our_categories .container .list_category li > a {
  padding: 24px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .our_categories .container .list_category li > a {
    padding: 0;
  }
}
.our_categories .container .list_category li .category_img {
  position: relative;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .our_categories .container .list_category li .category_img {
    height: 172px;
  }
}
.our_categories .container .list_category li .category_img img {
  z-index: -1;
  height: 200px;
}
@media screen and (max-width: 768px) {
  .our_categories .container .list_category li .category_img img {
    height: 172px;
  }
}
.our_categories .container .list_category li .category_img::after {
  content: " ";
  position: absolute;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.our_categories .container .list_category li .red_button {
  height: 58px;
  max-width: 220px;
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: 0.4s;
}
.our_categories .container .list_category li .red_button::after {
  content: " ";
  position: relative;
  display: flex;
  align-items: center;
  background: url("/assets/images/linkIcon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 8px;
  height: 13px;
  margin: 2px 0 0 14px;
}
@media screen and (max-width: 768px) {
  .our_categories .container .list_category li .red_button::after {
    background: url("/assets/images/linkIconRed.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 6px;
    height: 10px;
    margin: 4px 0 0;
  }
}
@media screen and (max-width: 768px) {
  .our_categories .container .list_category li .red_button {
    height: 25%;
    background: none;
    border: none;
    box-shadow: none;
    color: #b12025;
    font-size: 12px;
    font-weight: 400;
    line-height: 17.38px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.brands .container {
  max-width: 1190px;
  padding: 0 20px 50px;
}
@media screen and (max-width: 768px) {
  .brands .container {
    padding: 0 0 50px;
  }
}
.brands .container h4 {
  margin-bottom: 44px;
}
@media screen and (max-width: 768px) {
  .brands .container h4 {
    margin-bottom: 20px;
    padding: 0 20px;
  }
}
.brands .container .brands_slider {
  position: relative;
  display: flex;
  align-items: center;
  height: 88px;
  max-width: 1190px;
  width: 100%;
}
@media screen and (max-width: 1280px) {
  .brands .container .brands_slider {
    padding: 0 54px;
  }
}
.brands .container .brands_slider .slick-slide {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brands .container .brands_slider .slick-dots {
  margin: 0 auto;
  right: 0;
  left: 0;
}
.brands .container .brands_slider .item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}
@media screen and (max-width: 1280px) {
  .brands .container .brands_slider .item {
    margin: 0 8px;
  }
}
@media screen and (max-width: 520px) {
  .brands .container .brands_slider .item {
    margin: 0 5px;
  }
}
.brands .container .brands_slider .item img {
  margin: 0 auto;
  max-height: 80px;
}
@media screen and (max-width: 860px) {
  .brands .container .brands_slider .item img {
    max-height: 40px;
  }
}
@media screen and (max-width: 520px) {
  .brands .container .brands_slider .item img {
    max-width: 72px;
  }
}
.brands .container .brands_slider .slide-prev {
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1019607843);
  background: #b12025;
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  left: -56px;
  border-radius: 100%;
  background-image: url("/assets/images/slide_prev.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 1280px) {
  .brands .container .brands_slider .slide-prev {
    width: 40px;
    height: 40px;
    left: 10px;
  }
}
.brands .container .brands_slider .slide-prev.slick-disabled {
  background: #ffffff;
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  left: -56px;
  border-radius: 100%;
  background-image: url("/assets/images/slide_prev_disabled.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 1280px) {
  .brands .container .brands_slider .slide-prev.slick-disabled {
    width: 40px;
    height: 40px;
    left: 10px;
  }
}
.brands .container .brands_slider .slide-next {
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1019607843);
  background: #b12025;
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  right: -56px;
  border-radius: 100%;
  background-image: url("/assets/images/slide_next.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 1280px) {
  .brands .container .brands_slider .slide-next {
    width: 40px;
    height: 40px;
    right: 10px;
  }
}
.brands .container .brands_slider .slick-dots > li {
  margin: 0;
  background: #e8e8e8;
  width: 8px;
  height: 8px;
  border-radius: 100%;
}
.brands .container .brands_slider .slick-dots > li.slick-active {
  background: #b12025;
}
.brands .container .brands_slider .slick-dots > li:not(:last-child) {
  margin-right: 6px;
}

.trending_products .content {
  max-width: 98%;
  margin: 0 auto;
  background: #00c2cb;
  border-radius: 20px;
}
.trending_products .content .container {
  padding: 70px 20px 64px;
}
@media screen and (max-width: 768px) {
  .trending_products .content .container {
    padding: 50px 10px 50px;
  }
}
.trending_products .content .container h4 {
  margin-bottom: 50px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .trending_products .content .container h4 {
    margin-bottom: 24px;
    font-size: 24px;
  }
}
.trending_products .content .container .products {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.trending_products .content .container .products .products_list {
  display: grid;
  grid-template-columns: minmax(340px, 558px) repeat(2, minmax(200px, 268px));
  grid-template-rows: repeat(2, 380px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 24px;
}
@media screen and (max-width: 960px) {
  .trending_products .content .container .products .products_list {
    grid-template-columns: repeat(3, minmax(200px, 268px));
  }
}
@media screen and (max-width: 768px) {
  .trending_products .content .container .products .products_list {
    grid-template-columns: repeat(2, minmax(160px, 268px));
    grid-template-rows: repeat(2, 330px);
    gap: 12px;
  }
}
@media screen and (max-width: 480px) {
  .trending_products .content .container .products .products_list {
    grid-template-rows: 470px repeat(2, 330px);
  }
}
.trending_products .content .container .products .products_list > li {
  position: relative;
  border: 2px solid #102b2c;
  border-radius: 10px;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1019607843);
  background: #fff;
  padding: 24px 24px 18px;
  transition: border-color 0.3s ease-in-out;
}
.trending_products .content .container .products .products_list > li:hover {
  border-color: #b12025;
}
.trending_products .content .container .products .products_list > li:hover .product_image {
  top: -6px;
}
@media screen and (max-width: 768px) {
  .trending_products .content .container .products .products_list > li {
    padding: 20px 20px;
  }
}
.trending_products .content .container .products .products_list > li.banner {
  grid-area: 1/1/3/2;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #102b2c;
  border-radius: 10px;
  max-width: 558px;
  max-height: 784px;
  width: 100%;
  overflow: hidden;
  box-shadow: none;
  padding: 0;
}
.trending_products .content .container .products .products_list > li.banner > img {
  max-width: -moz-max-content;
  max-width: max-content;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media screen and (max-width: 768px) {
  .trending_products .content .container .products .products_list > li.banner {
    grid-area: 1/1/3/3;
  }
  .trending_products .content .container .products .products_list > li.banner img {
    max-width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .trending_products .content .container .products .products_list > li.banner {
    max-height: 470px;
    grid-area: 1/1/2/3;
  }
  .trending_products .content .container .products .products_list > li.banner img {
    max-width: 100%;
  }
}
.trending_products .content .container .products .products_list > li .product_image {
  position: relative;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  top: 0;
}
@media screen and (max-width: 768px) {
  .trending_products .content .container .products .products_list > li .product_image {
    height: 172px;
  }
}
.trending_products .content .container .products .products_list > li .product_image img {
  height: 200px;
}
@media screen and (max-width: 768px) {
  .trending_products .content .container .products .products_list > li .product_image img {
    height: 172px;
  }
}
.trending_products .content .container .products .products_list > li .product_image::after {
  content: " ";
  position: absolute;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  right: 0;
}
.trending_products .content .container .products .products_list > li .product_description {
  gap: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .trending_products .content .container .products .products_list > li .product_description {
    gap: 6px;
  }
}
.trending_products .content .container .products .products_list > li .product_description .title {
  font-size: 14px;
  font-weight: 900;
  line-height: 21px;
  text-align: left;
  color: #102b2c;
  padding-top: 14px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .trending_products .content .container .products .products_list > li .product_description .title {
    padding-top: 6px;
    font-size: 12px;
  }
}
.trending_products .content .container .products .products_list > li .product_description .price {
  font-size: 22px;
  font-weight: 700;
  line-height: 35.2px;
  text-align: left;
  color: #102b2c;
}
@media screen and (max-width: 768px) {
  .trending_products .content .container .products .products_list > li .product_description .price {
    font-size: 18px;
    line-height: 18px;
  }
}
.trending_products .content .container .products .products_list > li .product_description .color_list {
  display: flex;
  align-items: center;
  gap: 2px;
}
.trending_products .content .container .products .products_list > li .product_description .color_list > li {
  border: 2px solid #fff;
  padding: 2px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trending_products .content .container .products .products_list > li .product_description .color_list > li.active {
  border: 2px solid #00c2cb;
  padding: 2px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trending_products .content .container .products .products_list > li .product_description .color_list > li button {
  border-radius: 100%;
  width: 14px;
  height: 14px;
}
.trending_products .content .container .products .products_list > li:hover .title {
  color: #b12025;
}
.trending_products .content .container .products .products_list > li .new {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px;
  height: 34px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 5px;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .trending_products .content .container .products .products_list > li .new {
    width: 58px;
    height: 30px;
    border-width: 2px;
  }
}
.trending_products a.red_button {
  color: #fff;
  margin: 50px auto 0;
}
@media screen and (max-width: 768px) {
  .trending_products a.red_button {
    border-width: 2px;
    margin: 24px auto 0;
  }
}
.trending_products a.red_button:hover {
  color: #b12025;
}

.programs {
  position: relative;
  background: url("/assets/images/uniform_bg.svg");
  background-size: cover;
  background-repeat: repeat-x;
}
@media screen and (min-width: 1180px) {
  .programs {
    background-size: contain;
  }
}
.programs .container {
  position: relative;
  padding: 10% 20px 180px;
}
@media screen and (max-width: 768px) {
  .programs .container {
    padding: 150px 20px 50px;
  }
}
.programs .container h4 {
  max-width: 576px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .programs .container h4 {
    font-size: 24px;
  }
}
.programs .container .content {
  margin-top: 56px;
  display: grid;
  grid-template-columns: minmax(550px, 830px) minmax(120px, 560px);
  grid-template-rows: 1fr;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .programs .container .content {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .programs .container .content {
    margin-top: 40px;
  }
}
.programs .container .content .left_side {
  position: relative;
  padding: 11% 18% 15% 20%;
  max-width: 830px;
  max-height: 690px;
  width: 100%;
  height: 100%;
  background: url("/assets/images/uniformCommentBg.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1024px) {
  .programs .container .content .left_side {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .programs .container .content .left_side {
    padding: 0;
  }
}
.programs .container .content .left_side h5 {
  font-family: Dela Gothic One;
  font-size: 36px;
  font-weight: 400;
  line-height: 50.4px;
  text-align: left;
  color: #102b2c;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .programs .container .content .left_side h5 {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
  }
}
.programs .container .content .left_side .pre {
  font-family: Roboto Flex;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #102b2c;
  margin-top: 12px;
}
@media screen and (max-width: 480px) {
  .programs .container .content .left_side .pre {
    font-size: 14px;
    margin-top: 4px;
  }
}
.programs .container .content .left_side .list_step {
  display: flex;
  align-items: center;
  gap: 22px;
  cursor: pointer;
}
.programs .container .content .left_side .list_step li {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  width: 158px;
  height: 108px;
  border-radius: 10px;
  border: 2px solid #102b2c;
  background: #00c2cb;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1019607843);
  padding: 14px 20px 24px;
  margin-top: 30px;
  transition: width 0.3s ease-in-out;
}
.programs .container .content .left_side .list_step li:hover {
  max-width: 200px;
  padding: 14px 22px 24px;
  width: 100%;
  background: none;
}
.programs .container .content .left_side .list_step li:hover .step, .programs .container .content .left_side .list_step li:hover .action {
  color: #102b2c;
}
@media screen and (max-width: 480px) {
  .programs .container .content .left_side .list_step li {
    width: 98px;
    height: 80px;
    margin-top: 14px;
    padding: 12px 18px;
  }
}
.programs .container .content .left_side .list_step li .step {
  font-family: Dela Gothic One;
  font-size: 28px;
  font-weight: 400;
  line-height: 39.2px;
  text-align: left;
}
@media screen and (max-width: 480px) {
  .programs .container .content .left_side .list_step li .step {
    font-size: 22px;
    line-height: 30px;
  }
}
.programs .container .content .left_side .list_step li .action {
  font-family: Roboto Flex;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: left;
}
@media screen and (max-width: 480px) {
  .programs .container .content .left_side .list_step li .action {
    font-size: 14px;
    line-height: 20px;
  }
}
.programs .container .content .left_side p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: #102b2c;
}
@media screen and (max-width: 480px) {
  .programs .container .content .left_side p {
    font-size: 14px;
  }
}
.programs .container .content .left_side p > span {
  font-size: 16px;
  font-weight: 900;
  line-height: 22.4px;
  text-align: left;
  color: #b12025;
}
@media screen and (max-width: 480px) {
  .programs .container .content .left_side p > span {
    font-size: 14px;
  }
}
.programs .container .content .left_side p.description {
  margin-top: 24px;
}
.programs .container .content .left_side p.description.last {
  margin-top: 14px;
}
.programs .container .content .left_side .default_button {
  background: #102b2c;
  color: #fff;
  max-width: 304px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.17px;
  margin-top: 24px;
  transition: all 0.3s;
}
.programs .container .content .left_side .default_button:hover {
  background: none;
  color: #102b2c;
}
@media screen and (max-width: 480px) {
  .programs .container .content .left_side .default_button {
    font-size: 14px;
    max-width: 100%;
    width: 100%;
    margin-top: 16px;
  }
}
.programs .container .content .right_side img {
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .programs .container .content .right_side img {
    margin: 10px auto 0;
  }
}

.advantage {
  background-image: url(/assets/images/ellipse_bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60vw;
}
@media screen and (max-width: 1180px) {
  .advantage .container {
    padding: 0 20px;
  }
}
.advantage .container .advantage_img img {
  margin: 0 auto;
}
.advantage .container > p {
  font-family: Dela Gothic One;
  font-size: 36px;
  font-weight: 400;
  line-height: 50.4px;
  text-align: center;
  color: #102b2c;
  max-width: 1060px;
  text-transform: uppercase;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .advantage .container > p {
    font-family: Dela Gothic One;
    font-size: 24px;
    line-height: 33.6px;
  }
}
.advantage .container > p > span {
  font-family: Dela Gothic One;
  font-size: 36px;
  font-weight: 400;
  line-height: 50.4px;
  text-align: center;
  color: #b12025;
}
@media screen and (max-width: 768px) {
  .advantage .container > p > span {
    font-size: 24px;
    line-height: 33.6px;
  }
}
.advantage .container .advantage_list {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}
@media screen and (max-width: 1024px) {
  .advantage .container .advantage_list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .advantage .container .advantage_list {
    grid-column-gap: 14px;
    grid-row-gap: 14px;
  }
}
.advantage .container .advantage_list li {
  border: 2px solid #000000;
  border-radius: 10px;
  background: #00c2cb;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1019607843);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 10px;
  height: 186px;
}
@media screen and (max-width: 768px) {
  .advantage .container .advantage_list li {
    height: 126px;
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
  }
}
.advantage .container .advantage_list li > span {
  font-family: Dela Gothic One;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: center;
  text-transform: uppercase;
  max-width: 306px;
  display: block;
}
@media screen and (max-width: 768px) {
  .advantage .container .advantage_list li > span {
    font-size: 12px;
    line-height: 16.8px;
  }
}
.advantage .container .here_link {
  margin: 50px auto 0;
}
@media screen and (max-width: 768px) {
  .advantage .container .here_link {
    font-size: 14px;
    font-weight: 400;
    line-height: 20.27px;
    margin: 24px auto 0;
    width: 100%;
    height: 54px;
    padding: 16px 42px;
  }
}

.newletter {
  margin: 100px 0;
}
@media screen and (max-width: 768px) {
  .newletter {
    margin: 50px 0;
  }
}
.newletter .container {
  max-width: 1140px;
}
.newletter .container .content {
  position: relative;
  background: #def7f9;
  padding: 70px 80px;
  display: flex;
  border-radius: 20px;
}
@media screen and (max-width: 1300px) {
  .newletter .container .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .newletter .container .content {
    padding: 50px 20px;
  }
}
.newletter .container .content .left_side h5 {
  font-family: Dela Gothic One;
  font-size: 36px;
  font-weight: 400;
  line-height: 50.4px;
  text-align: left;
  color: #102b2c;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .newletter .container .content .left_side h5 {
    font-size: 24px;
    line-height: 33.6px;
  }
}
.newletter .container .content .left_side > p {
  font-family: Roboto Flex;
  font-size: 18px;
  font-weight: 800;
  line-height: 27px;
  text-align: left;
  color: #102b2c;
  max-width: 440px;
  width: 100%;
  margin-bottom: 22px;
}
@media screen and (max-width: 768px) {
  .newletter .container .content .left_side > p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 16px;
  }
}
.newletter .container .content .left_side > span {
  display: block;
  font-family: Roboto Flex;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #102b2c;
  margin-bottom: 16px;
}
@media screen and (max-width: 768px) {
  .newletter .container .content .left_side > span {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 12px;
  }
}
.newletter .container .content .left_side .newletter_input {
  position: relative;
  border: 2px solid #102b2c;
  border-radius: 10px;
  max-width: 520px;
  width: 100%;
}
.newletter .container .content .left_side .newletter_input input {
  max-width: 520px;
  width: 100%;
  height: 66px;
  border-radius: 10px;
  padding: 23px 166px 24px 62px;
  color: #102b2c;
  font-family: Roboto Flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
  background-image: url("/assets/images/mailIconBlue.svg");
  background-repeat: no-repeat;
  background-position: 26px;
}
@media screen and (max-width: 768px) {
  .newletter .container .content .left_side .newletter_input input {
    height: 54px;
    padding: 18px 76px 18px 51px;
    background-position: 20px;
    font-size: 14px;
  }
}
.newletter .container .content .left_side .newletter_input .newsletter_button {
  position: absolute;
  top: -3px;
  right: -3px;
  width: 160px;
  height: 70px;
  border: 2px solid #102b2c;
  border-radius: 10px;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1019607843);
  background: #00c2cb;
  text-transform: uppercase;
  font-family: Dela Gothic One;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.17px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.newletter .container .content .left_side .newletter_input .newsletter_button:hover {
  background: #102b2c;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .newletter .container .content .left_side .newletter_input .newsletter_button {
    height: 58px;
    max-width: 74px;
    font-size: 14px;
    line-height: 20.27px;
  }
}
.newletter .container .content .right_side img {
  position: absolute;
  bottom: 10px;
  right: -54px;
}
@media screen and (max-width: 1300px) {
  .newletter .container .content .right_side img {
    position: relative;
    right: auto;
    bottom: auto;
    margin-top: 20px;
  }
}/*# sourceMappingURL=style.css.map */